{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="main-container">
  <section class="speakers">
    <div class="container">
      <div class="d-flex col-md-12">
        <h1 class="text-green text-xl col-md-6 mb-2 lh-9 mt-2">Event at <br> a Glance</h1>
        <div class="col-md-6">
          <div class="column d-flex h-100">
            <p class="my-auto">
              <!-- CHANGE THIS FILE PATH AND NAME IF NEEDED -->
<!--              <a href="/downloads/agenda.pdf" download="agenda.pdf" class="btn home">DOWNLOAD AGENDA</a> -->
            </p>
          </div>
        </div>
      </div>
      <div>
        <p>The full agenda and session list will be available shortly. In the meantime, here is an overview of our schedule.</p>

        <p><strong>09:00 - 11:00:</strong></p>
        <p>The event will kick off with insightful keynotes and introductory sessions from leaders in open source, technology, and policy.</p>

        <p><strong>11:30 - 13:00:</strong></p>
        <p>The day continues with informative presentations and panel sessions. An optional Open Source 101 track will be available for those new to open source.</p>

        <p><strong>14:00 - 17:30:</strong></p>
        <p>The afternoon will include focused breakout tracks for <strong>government</strong>, <strong>business</strong>, and <strong>academia</strong>alongside a dedicated track on <strong>Open Source AI.<strong></strong></p>

        <p><strong>17:30 - 19:00:</strong></p>
        <p>An evening reception for attendees will follow the event.</p>
         </ul>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
