  <main class="container generic" style="text-align: center">
    <div class="col-md-12 main">
      <div class="row">
        <div class="sponsors diamond">
          <h1 class="text-green text-center text-l">Gold Sponsors</h1>
          <div class="col-md-4 my-auto">
            <img src="/img/red-hat.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
            <img src="/img/servis-bot.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
            <img src="/img/technology-ireland.png" alt="">
          </div>
          <h1 class="text-green text-center text-l">Community Sponsors</h1>
          </div>
            <div class="col-md-4 my-auto">
              <img src="/img/flax-and-teal.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
              <img src="/img/irdg-innovation.png" alt="">
          </div>
          <div class="col-md-4 my-auto">
              <img src="/img/nearform.png" alt="">
          </div>
            <div class="col-md-4 my-auto">
              <img src="/img/trinity.jpg" alt="">
          </div>
        </div>
      </div>
  </main>
